body {
	background-image: url("../../Shared/Images/background.jpg");
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.alert-message {
	position: fixed;
	right: 1%;
	top: 10%;
	display: none;
}

.form .title::before {
	width: 52%;
}

.container {
	margin-top: 10vh;
}
