<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="../global.css" />
	<link type="text/css" rel="stylesheet" href="../Login-SignUp/login-signup.css" />
	<link type="text/css" rel="stylesheet" href="login.css" />
</head>

<body>
	<div class="page-container">
		<div class="content-wrap">
			<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
				<div class="container-fluid">
					<a class="navbar-brand" href="../Posts/posts.html">InnovaTech</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="../Posts/posts.html">Posts</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../Newsletter/newsletter.html">Newsletter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../About/about.html">About</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" id="login-signup-buttons">
							<li class="nav-item active">
								<a class="nav-link" aria-current="page" href="login.html">Login</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" href="../SignUp/signup.html">Sign up</a>
							</li> -->
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item">
								<a class="nav-link" id="logoutBtn" hidden>Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="container">
				<div class="forms">
					<div class="form login">
						<span class="title">Login</span>
						<form action="#" id="login-form">
							<div class="input-field">
								<input type="text" id="loginUsername" placeholder="Enter your username" required>
								<i class="uil uil-user icon"></i>
							</div>
							<div class="input-field">
								<input type="password" id="loginPassword" class="password"
									placeholder="Enter your password" required>
								<i class="uil uil-lock icon"></i>
								<i class="uil uil-eye-slash showHidePw"></i>
							</div>

							<div class="custom-control custom-checkbox checkbox-text">
								<div class="checkbox-content">
									<input type="checkbox" class="custom-control-input" id="logCheck">
									<label class="custom-control-label" for="logCheck">Remember me</label>
								</div>
							</div>

							<div class="input-field button">
								<input id="btnlogin" type="button" value="Login">
							</div>
						</form>
						<div class="login-signup">
							<span class="text">Not a member?
								<a href="../SignUp/signup.html" class="text signup-link">Sign-Up Now</a>
							</span>
						</div>
					</div>
				</div>
			</div>



			<footer class="text-center">
				<div class="container-fluid">
					<div class="d-flex flex-column flex-sm-row justify-content-around align-items-center">

						<div class="col-lg-5 d-flex justify-content-start">
							<div>
								<span>Copyright &copy; 2023 by</span>
								<a class="text-white" href="mailto:innovatech@gmail.com">InnovaTech</a>
							</div>
						</div>

						<div class="col-lg-5 mt-1 mt-md-0 d-flex justify-content-center justify-content-md-end">
							<div class="d-flex flex-wrap justify-content-center justify-content-md-end">
								<a class="btn text-white" href="https://www.facebook.com/" target="_blank">
									<i class="fa-brands fa-facebook-f fa-xl"></i>
								</a>

								<a class="btn text-white" href="https://twitter.com/i/flow/login" target="_blank">
									<i class="fa-brands fa-twitter fa-xl"></i>
								</a>

								<a class="btn text-white" href="https://www.instagram.com/" target="_blank"
									role="button">
									<i class="fa-brands fa-instagram fa-xl"></i>
								</a>

								<a class="btn text-white" href="https://www.linkedin.com/" target="_blank"
									role="button">
									<i class="fa-brands fa-linkedin-in fa-xl"></i>
								</a>

								<a class="btn text-white" href="mailto:innovatech@gmail.com" role="button">
									<i class="fa-regular fa-envelope fa-xl"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Messages -->

		<div class="alert alert-danger alert-message" id="login-failed-alert">
			<strong>Invalid credentials!</strong> Please check your username and password and try again.
		</div>

		<div class="alert alert-success alert-message" id="login-success-alert">
			Login successful.<strong> Welcome!</strong>
		</div>

		<div class="alert alert-danger alert-message" id="logout-success-alert">
			Successfully<strong> logged out!</strong>
		</div>

	</div>
	<script src="https://kit.fontawesome.com/fd365c5544.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>
	<script src="../Login-SignUp/login-signup.js"></script>
	<script src="../script.js"></script>
	<script src="login.js"></script>
</body>

</html>